@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<div class="preloader flex-column justify-content-center align-items-center">
    @{
        if (HttpContextAccessor.HttpContext.Session.GetString("AdminLogin")!= null){
            <img class="animation__shake" src="~/dist/img/AdminLTELogo.png" alt="@HttpContextAccessor.HttpContext.Session.GetString("AdminLogin")" height="60" width="60">
        }else{
            <img class="animation__shake" src="~/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        }
    }
   
</div>