@model WorkTrackingSystem.Models.Job

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/ProjectManager/Views/Shared/_ProjectManager.cshtml";
}

<h1>Edit</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline1" class="control-label"></label>
                <input asp-for="Deadline1" class="form-control" />
                <span asp-validation-for="Deadline1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline2" class="control-label"></label>
                <input asp-for="Deadline2" class="form-control" />
                <span asp-validation-for="Deadline2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline3" class="control-label"></label>
                <input asp-for="Deadline3" class="form-control" />
                <span asp-validation-for="Deadline3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletionDate" class="control-label"></label>
                <input asp-for="CompletionDate" class="form-control" />
                <span asp-validation-for="CompletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolumeAssessment" class="control-label"></label>
                <input asp-for="VolumeAssessment" class="form-control" />
                <span asp-validation-for="VolumeAssessment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgressAssessment" class="control-label"></label>
                <input asp-for="ProgressAssessment" class="form-control" />
                <span asp-validation-for="ProgressAssessment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualityAssessment" class="control-label"></label>
                <input asp-for="QualityAssessment" class="form-control" />
                <span asp-validation-for="QualityAssessment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SummaryOfReviews" class="control-label"></label>
                <input asp-for="SummaryOfReviews" class="form-control" />
                <span asp-validation-for="SummaryOfReviews" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDelete" class="control-label"></label>
                <input asp-for="IsDelete" class="form-control" />
                <span asp-validation-for="IsDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateBy" class="control-label"></label>
                <input asp-for="CreateBy" class="form-control" />
                <span asp-validation-for="CreateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateBy" class="control-label"></label>
                <input asp-for="UpdateBy" class="form-control" />
                <span asp-validation-for="UpdateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
