@model WorkTrackingSystem.Models.User

@{
    ViewData["Title"] = "Tạo Mới Người Dùng";
 }

<div class=" ">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1><i class="bi bi-person-plus-fill"></i> Tạo Mới Người Dùng</h1>
        <a asp-action="Index" class="btn btn-close" aria-label="Đóng"></a>
    </div>

    <h4>Người Dùng</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"><i class="bi bi-person"></i> Tên Người Dùng</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"><i class="bi bi-key"></i> Mật Khẩu</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmployeeId" class="control-label"><i class="bi bi-person-badge"></i> Nhân Viên</label>
                    <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Tạo Mới" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">